<div class="submission">
  <div class="rank">
    <span>1.</span>
    <a href="/upvote">
      <div class="votearrow"></div>
    </a>
  </div>
  <div class="content">
    <span class="title">
      <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4">How to make a website in 10 minutes?</a>
      <span class="subtext">
        (<a href="from?site=www.youtube.com"><span class="subtext">youtube.com</span></a>)
      </span>
    </span>
    <div class="subtext">
      <span class="score">1 point</span> by <a href="/user?id=anish">anish</a> <span class="age"><a href="/item?id=28157165">1 hour ago</a></span> | <a href="/hide?id=28157165&goto=news">hide</a> | <a href="/item?id=28157165">1 comment</a>
    </div>
  </div>
</div>
